name: 'Integration'

on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  integration:
    if: |-
      ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'push' || github.repository == github.event.pull_request.head.repo.full_name && github.actor != 'dependabot[bot]' }}
    strategy:
      fail-fast: false
      matrix:
        os: ${{ github.actor == 'dependabot[bot]' && fromJSON('["ubuntu-latest"]') || fromJSON('["ubuntu-latest", "macos-latest", "windows-latest"]') }}
    runs-on: '${{ matrix.os }}'

    permissions:
      id-token: 'write'

    steps:
      - uses: 'actions/checkout@v6' # ratchet:actions/checkout@v4

      - uses: 'actions/setup-node@v6' # ratchet:actions/setup-node@v4
        with:
          node-version-file: 'package.json'

      - name: 'Build'
        run: 'npm ci && npm run build'

      # No installation
      - name: 'Skip install'
        uses: './'
        with:
          skip_install: true

      # Constraint installation
      - name: 'Install constraint'
        uses: './'
        with:
          version: '>= 1.0.0'

      # Default installation
      - name: 'Install version'
        uses: './'
        with:
          version: '374.0.0'

      # Latest installation
      - name: 'Install latest'
        uses: './'
        with:
          version: 'latest'

      # By default, there is no configuration
      - name: 'Check defaults'
        run: 'npm run integration'
        env:
          TEST_ACCOUNT: '(unset)'
          TEST_PROJECT_ID: '(unset)'

      # Install components
      - name: 'Install components'
        uses: './'
        with:
          install_components: 'cloud-run-proxy'

      - name: 'Check components'
        run: 'npm run integration'
        env:
          TEST_COMPONENTS: 'cloud-run-proxy'
